<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Добро пожаловать на вашу личную страницу</h1>
    <h2>{{ user.username }}</h2>
    <a class="btn btn-outline-primary" href="{% url "change_password" %}?next=/">Сменить пароль</a>
    <a class="btn btn-outline-primary" href="{% url "base" %}?next=/">Назад</a>
    <form method="POST" action="team/">
        {% csrf_token %}
    <p>
        <label>Введите команду</label><br>
        <input type="text" name="name" />
    </p>
        <input type="submit" value="Сохранить" />
    </form>
    {% endif %}