<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Save changes</button>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
<a class="btn btn-outline-primary" href="{% url "account" %}?next=/">Назад</a>
</form>
</body>
</html>
